body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

nav {
    backdrop-filter: blur(20px);
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    background-color: darkcyan;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 60%;
}

.imagen {
    border-radius: 20px;
    width: 70%;
}

.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contenido {
    color: white;
    height: 50%;
    width: 55%;
    background-color: lightseagreen;
    border-radius: 20px;
}

.lista {
    text-align: center;
}

.lista ul {
    display: inline-block;
    text-align: left;
}

.video {
    width: 90%;
    aspect-ratio: 16/9;
}



:root {
    --sidebar-width: 280px;
    --sidebar-width-collapsed: 80px;
}

.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background: transparent;
    transition: all 0.3s ease;
}

.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
}

.sidebar-link {
    color: #a0a3bd;
    transition: all 0.2s ease;
    border-radius: 8px;
    margin: 4px 16px;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-link:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(5px);
}

.sidebar-link.active {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
}

.logo-text {
    /* background: linear-gradient(45deg, #6b8cff, #8b9fff); */
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.3s ease;
}

.toggle-btn {
    position: absolute;
    right: -15px;
    top: 20px;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 100;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.collapsed .toggle-btn {
    transform: rotate(180deg);
}

.collapsed .hide-on-collapse {
    opacity: 0;
    visibility: hidden;
}

.collapsed .logo-text {
    opacity: 0;
}

.collapsed .sidebar-link {
    text-align: center;
    padding: 1rem !important;
    /* margin: 4px 8px; */
    margin: 4px 0;
    width: 100%;
    height: 12%;
    text-align: center;
}

.collapsed .sidebar-link i {
    margin: 0 !important;
    display: block;
    margin: 0 auto;
}
